.home {
  .banner {
    background-color: #ffeeee;
    .wrapContent {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      align-items: center;

      h1 {
        margin-top: 100px;
        color: #161616;
        font-family: "Montserrat";
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 124.4%;
        text-align: center;
        margin-bottom: 24px;
      }

      .description {
        color: #3f3f3f;
        text-align: center;
        font-family: "Montserrat";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 30px;
      }
    }
  }

  .sectionTitle {
    color: #161616;
    font-size: 24px;
    font-weight: 800;
    // text-align: center;
    // padding: 0 10px;
  }

  .searchTitle {
    margin-bottom: 23px;
  }

  .sectionSupport {
    background-color: #ffeeee;

    .supportTitle {
      margin: 20px 0 64px;
    }
  }
  .sectionSolution {
    .solutionTitle {
      margin: 20px 0 55px;
    }
  }

  .sectionTrend {
    background: #fee;
    .trendTitle {
      margin: 20px 0 55px;
    }
  }

  .titleSmall {
    color: #e22828;
    font-size: 16px;
    font-weight: 500;
  }

  .divider {
    width: 18px;
    height: 1px;
    background-color: #e22828;
    min-width: 18px;
    margin: 5px 0 0;
  }

  .searchSectionItem {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    border: 1px solid #ececec;
    box-shadow: 0px 2px 15px 4p3x rgba(198, 198, 198, 0.08);
    padding: 20px;

    .icon {
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;

      &.icon_0 {
        background: #eaf9ff;
      }
      &.icon_1 {
        background: #fff2f3;
      }
      &.icon_2 {
        background: #faf7e7;
      }
    }

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 8px;
      label {
        color: #161616;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
      }
      p {
        color: #3f3f3f;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  .titleContactMobile {
    display: none;
  }

  .contactSection {
    align-items: flex-start !important;
    .contactTitle {
      margin: 20px 0 36px;
    }
    .titleSpec {
      position: relative;
      display: block;
      color: #e22828;
      padding-bottom: 5px;
      &::after {
        content: "";
        position: absolute;
        width: 18px;
        height: 2px;
        background: #e22828;
        bottom: 0;
        left: 50%;
        margin-left: -10px;
      }
    }

    // .contactSectionItem {
    //   display: flex;
    //   flex-direction: column;
    //   gap: 20px;
    //   border-radius: 10px;
    //   .label {
    //     display: flex;
    //     align-items: center;
    //     font-size: 18px;
    //     font-weight: 600;
    //     gap: 5px;
    //   }
    // }
  }
}

@media (max-width: 576px) {
  .home {
    .banner {
      .wrapContent {
        h1 {
          width: 100%;
          font-size: 20px;
        }
        .description {
          width: 100%;
          font-size: 12px;
        }
      }
    }
  }
  .bannerItem {
    margin-bottom: 40px;
  }
  .btn {
    width: 208px;
    height: 43px;
    span {
      font-size: 14px;
    }
  }
  .sectionTitle {
    text-align: center;
    // padding: 0 10px;
  }
  .titleContact {
    display: none;
  }
  .titleSpec {
    margin: auto;
  }
  .titleContactMobile {
    display: block !important;
    margin: 20px auto;
  }
}

@media (min-width: 640px) {
  .wrapContent {
    h1 {
      width: 100%;
    }
    .description {
      // width: 90%;
    }
  }
}

@media (min-width: 768px) {
  .wrapContent {
    .titleBanner {
      padding: 0 100px !important;
    }
    h1 {
      // width: 70%;
    }
    .description {
      // width: 60%;
    }
  }
}

@media (min-width: 1300px) {
  .wrapContent {
    .titleBanner {
      padding: 0 200px !important;
    }
    h1 {
      // width: 60%;
    }
    .description {
      // width: 50%;
    }
  }
}
