.header {
  padding: 20px 0;

  .logo {
  }

  .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.25em;
    height: 1.75em;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ececec;
    transition: 0.4s;
    border-radius: 200px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 1.75em;
    width: 1.75em;
    border-radius: 20px;
    left: 0em;
    bottom: 0em;
    // background-color: yellow;
    background-image: url("../../assets//image/vietnam.jpg");
    transition: 0.4s;
    z-index: 1;
  }

  .langEng,
  .langVie {
    font-size: 12px;
    top: 0.45em;
  }

  .langVie {
    position: absolute;
    right: 0.4em;
  }

  .langEng {
    position: absolute;
    left: 0.3em;
  }

  .switch input:checked + .slider:before {
    background-color: black;
    border-radius: 50px;
    box-shadow: inset 9px 0px 1px 0px white;
  }

  // .switch input:checked + .slider {
  //   background-color: black;
  // }

  // .switch input:focus + .slider {
  //   box-shadow: 0 0 1px #2196f3;
  // }

  .switch input:checked + .slider:before {
    transform: translateX(1.5em);
  }

  .btnSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ececec;
  }
  .menuItemLabel {
    cursor: pointer;
    font-size: 16px;

    &.active {
      font-weight: 700;
      color: rgb(73, 124, 227);
    }
  }
}

.fixed {
  position: "fixed";
  top: 0;
  left: 0;
  width: "100%";
  height: "100%";
  z-index: 1;

  .overlay {
    background-color: "#000";
    opacity: ".3";
    position: "absolute";
    top: 0;
    left: 0;
    width: "100%";
    height: "100%";
  }

  .content {
    background-color: "white";
    position: "absolute";
    z-index: 2;
    top: 0;
    left: 0;
    width: "100%";
  }
}

.menuDrawerHeader {
  width: 100% !important;
}

@media (min-width: 0px) and (max-width: 601px) {
  .header {
    padding: 1rem;
    .button {
      // display: none;
    }
  }
}
