.createPost {
    min-height: 100vh;
    height: 100%;
    background: var(--neutral-50, #f4f4f4);
    .container {
        max-width: 1152px;
        margin: auto;
        padding: 24px;
        .content {
            margin-top: 32px;
        }
    }
}

.notification {
    background-color: #fff;
    padding: 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
    max-width: 566px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 40px;
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4 {
            margin-top: 40px;
            color: var(--neutral-700, #161616);
            text-align: center;
            /* Website/Body/Large/Bold */
            font-family: Nunito;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px; /* 144.444% */
        }
        p {
            color: var(--neutral-500, #616161);
            text-align: center;
            /* Website/Body/Large/Regular */
            font-family: Nunito;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 144.444% */
            margin-top: 16px;
            margin-bottom: 40px;
        }
    }
}
