.register {
  background-color: #f4f4f4;
  width: 100%;
  min-height: 100vh;
  .head {
    color: var(--neutral-600, #3f3f3f);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
  }
  .box {
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.06);
    padding: 24px;
    margin-top: 50px;
  }
  .container {
    max-width: 1192px;
    margin: auto;
    padding: 50px 0;
  }
  .title {
    color: var(--neutral-700, #161616);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
  }
  .sub {
    color: var(--neutral-600, #3f3f3f);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    span {
      color: var(--secondary-700, #009874);
    }
  }
}
