.solutionSectionItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  cursor: pointer;
  .title {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
